@import url('https://fonts.googleapis.com/css?family=Oswald');



body {
    background-color:#e5dcc5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;

}

form {
    min-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

form input {
    min-width: 400px;
}

#display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5dcc5;
    color: black;
} 


ul {
    background: #e5dcc5;;
}

li {
    list-style: none;
    text-align: center;
}